body {
  font: 1em/1.5 sans-serif;

  margin: 0;
  min-width: 100vw;
  min-height: 100vh;

  display: grid;
  
  grid-gap: 1rem;
  grid-template-columns: [sidebar] 15rem 
                         [body]    auto;

  grid-template-rows:    [head] min-content 
                         [body]   auto 
                         [foot] min-content; 
}

body::before {
  content: '';
  background: lightgray;

  grid-row: 1 / -1;
  grid-column: sidebar;
}

h1 {
  grid-row:    head;
  grid-column: body;
}

tab-group {
  display: contents;
}

  nav {
    grid-row:    body;
    grid-column: sidebar;

    padding: 1em;
  }

    [data-tab-link]:any-link {
      display: block;
      padding: .5em 1em;
      
      color: inherit;
      text-decoration: none;
      
      transition: background .3s ease-in-out;
    }

    [data-tab-link]:hover {
      text-decoration: underline;
    }

    [data-tab-link][data-tab-active=true] {
      background: white;
    }

  .tabs-wrapper {
    grid-area: body;
    
    padding-right: 1em;
  }

label,
input:not([type=radio]) {
  display: block;
}

fieldset,
[type=submit] {
  margin: 1rem 0;
}

footer {
  grid-row:    foot;
  grid-column: body;
  
  margin: 0 0 1rem;
}